/* #region Utilities */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --booleando-primary: rgba(255, 105, 0, 1);
    --booleando-light: rgba(227, 227, 227, 1);
    --booleando-lighter: rgba(255, 255, 255, 1);
    --boolenado-dark: rgba(26, 26, 26, 1);
    --booleando-discount: rgba(255, 0, 0, 1);
    --booleando-sustainability: rgba(0, 128, 0, 1);
}

body {
    font-family: 'Public Sans', sans-serif;
}

.d-flex {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0.5rem;
}

/* #endregion Utilities */

/* #region Common rules */

nav {
    padding: 1rem 0;
}

a {
    color: var(--booleando-lighter);
    text-decoration: none;
}

img {
    max-width: 100%;
}

.links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    color: var(--booleando-lighter);
    font-size: 0.75rem;
    gap: 1rem;
}

.like:hover {
    color: var(--booleando-discount);
}

.image:hover .hover_image {
    display: inline;
}

/* #endregion Common rules */

/* #region Header */

#site_header {
    background-color: var(--booleando-primary);
    color: var(--booleando-lighter);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

.logo,
.account_icons {
    display: flex;
    align-items: center;
}

.logo {
    justify-content: center;
    width: 40%;
}

.product_section_links {
    font-weight: 600;
}

.account_icons {
    justify-content: flex-end;
    gap: 1rem;
}

/* #endregion Header */

/* #region Main */

#site_main {
    background-color: var(--booleando-lighter);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Products list */
.products_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 70%;
    gap: 2rem 1rem;
    padding: 3rem 0;
}

/* #region Product card */

.product_card {
    width: 32.4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

/* Image */
.image {
    position: relative;
    display: inline-block;
}

.hover_image {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}


/* Badges */
.like,
.badges {
    position: absolute;
}

.badges {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    bottom: 15%;
    gap: 0.5rem;
}

.like {
    width: 10%;
    height: 6%;
    background-color: var(--booleando-lighter);
    top: 1%;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.discount,
.sustainability {
    padding: 0.3rem 0.5rem;
    font-size: 0.7rem;
    font-weight: bold;
}

.discount {
    background-color: var(--booleando-discount);
    color: var(--booleando-lighter);
}

.sustainability {
    background-color: var(--booleando-sustainability);
    color: var(--booleando-lighter);
}

.product_description {
    align-self: flex-start;
    list-style: none;
}

.product_brand {
    font-size: 0.8rem;
}

.product_name {
    font-weight: bold;
}

.product_price {
    font-size: 0.9rem;
}

.discount_price {
    font-weight: bold;
    color: var(--booleando-discount);
}

.old_price {
    text-decoration: line-through;
}

/* #endregion Product card */

/* #endregion Main */

/* #region Footer */

#site_footer {
    background-color: var(--boolenado-dark);
    color: var(--booleando-lighter);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    padding: 2rem 0;
}

.company_and_information {
    align-items: flex-start;
}

.social_icons {
    gap: 0.5rem;
}

/* #endregion Footer */