/* #region Utilities */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px dashed;
}

:root {
    --booleando-primary: rgba(255, 105, 0, 1);
    --booleando-light: rgba(227, 227, 227, 1);
    --booleando-lighter: rgba(255, 255, 255, 1);
    --booleando-discount: rgba(255, 0, 0, 1);
    --discord-sustainability: rgba(0, 128, 0, 1);
}

body {
    font-family: 'Public Sans', sans-serif;
}

/* #endregion Utilities */

/* #region Debug rules */


/* #endregion Debug rules */

/* #region Common rules */

nav {
    padding: 0.5rem 0;
}

a {
    color: var(--booleando-lighter);
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* #endregion Common rules */

/* #region Header */

#site_header {
    background-color: var(--booleando-primary);
    color: var(--booleando-lighter);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_container {
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-between;
}

.logo,
.links,
.account_icons {
    padding: 0.5rem 0;
}

.logo,
.account_icons {
    display: flex;
    align-items: center;
    width: 30%;
}

.links,
.account_icons {
    gap: 1rem;
    width: 20%;
}

.logo {
    justify-content: center;
    flex-grow: 2;
}

.links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    color: var(--discord-lighter);
    font-size: 0.75rem;
    font-weight: 600;
}

.account_icons {
    justify-content: flex-end;
}

/* #endregion Header */

/* #region Main */

#site_main {
    background-color: var(--booleando-lighter);
    display: flex;
    justify-content: center;
    align-items: center;
}

.products_container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem 1rem;
    padding: 3rem 0;
}

.product_card {
    width: 32.4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.product_description {
    align-self: flex-start;
    list-style: none;
}

/* #endregion Main */